In [62]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import datapackage
import pandas as pd
import json

In [63]:
# Set environment variables from the .env in the local environment
load_dotenv()

fred_api_key    = os.getenv("FRED_API_KEY")
fred_url        = "https://api.stlouisfed.org/fred/"

In [64]:
# Retrieve dataset  : Median Sales Price of Houses Sold in US (Monthly)
# Source            : U.S. Census Bureau and U.S. Department of Housing and Urban Development

fred_series     = "MSPUS" 
#fred_filter_qry =  f"series?series_id={fred_series}&api_key={fred_api_key}&file_type=json"
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=q&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

median_sales_price_housing_quarterly_df = \
    pd.json_normalize(response["observations"])

median_sales_price_housing_quarterly_df = \
    median_sales_price_housing_quarterly_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "Median Sales Price of Houses"
        }
    )

median_sales_price_housing_quarterly_df = \
    median_sales_price_housing_quarterly_df.drop(
        columns={"realtime_start", "realtime_end"}
    )

display(median_sales_price_housing_quarterly_df.head())

         Date Median Sales Price of Houses
0  1963-01-01                        17800
1  1963-04-01                        18000
2  1963-07-01                        17900
3  1963-10-01                        18500
4  1964-01-01                        18500

In [65]:
# Retrieve dataset  : Median Household Income in US (Monthly)
# Source            : U.S. Census Bureau

fred_series     = "MEHOINUSA646N" 
#fred_filter_qry =  f"series?series_id={fred_series}&api_key={fred_api_key}&file_type=json"
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=a&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

median_household_income_annually_df = \
    pd.json_normalize(response["observations"])

median_household_income_annually_df = \
    median_household_income_annually_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "Median Household Income"
        }
    )

median_household_income_annually_df = \
    median_household_income_annually_df.drop(
        columns={"realtime_start", "realtime_end"}
    )

display(median_household_income_annually_df.tail())

          Date Median Household Income
34  2018-01-01                   63180
35  2019-01-01                   68700
36  2020-01-01                   68010
37  2021-01-01                   70780
38  2022-01-01                   74580

In [66]:
# Retrieve dataset  : Average Hourly Earnings of All Employees (Monthly)
# Source            : U.S. Bureau of Labor Statistics

fred_series     = "CES0500000003" 
#fred_filter_qry =  f"series?series_id={fred_series}&api_key={fred_api_key}&file_type=json"
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=m&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

avg_hourly_earnings_private_employees_monthly_df = \
    pd.json_normalize(response["observations"])

avg_hourly_earnings_private_employees_monthly_df = \
    avg_hourly_earnings_private_employees_monthly_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "Average Hourly Earnings"
        }
    )

avg_hourly_earnings_private_employees_monthly_df = \
    avg_hourly_earnings_private_employees_monthly_df.drop(
        columns={"realtime_start", "realtime_end"}
    )

display(avg_hourly_earnings_private_employees_monthly_df.tail())

           Date Average Hourly Earnings
209  2023-08-01                   33.82
210  2023-09-01                   33.91
211  2023-10-01                   34.00
212  2023-11-01                   34.12
213  2023-12-01                   34.27

In [67]:
# Retrieve dataset  : Personal Invcome (Monthly)
# Source            : U.S. Bureau of Economic Analysis

fred_series     = "PI" 
#fred_filter_qry =  f"series?series_id={fred_series}&api_key={fred_api_key}&file_type=json"
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=m&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

personal_income_monthly_df = pd.json_normalize(response["observations"])

personal_income_monthly_df = \
    personal_income_monthly_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "Personal Income"
        }
    )

personal_income_monthly_df = \
    personal_income_monthly_df.drop(
        columns={"realtime_start", "realtime_end"}
    )

display(personal_income_monthly_df.tail())

           Date Personal Income
930  2023-07-01         22972.4
931  2023-08-01         23071.7
932  2023-09-01         23148.5
933  2023-10-01         23207.8
934  2023-11-01         23289.4

In [68]:
# Retrieve dataset  : Rate of Home Ownership in the US (Quarterly)
# Source            : U.S. Census Bureau

fred_series     = "RHORUSQ156N" 
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=q&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

rate_of_home_ownership_quarterly_df = pd.json_normalize(response["observations"])

rate_of_home_ownership_quarterly_df = \
    rate_of_home_ownership_quarterly_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "Rate of Home Ownership"
        }
    )

rate_of_home_ownership_quarterly_df = \
    rate_of_home_ownership_quarterly_df.drop(
        columns={"realtime_start", "realtime_end"}
    )

display(rate_of_home_ownership_quarterly_df.head())

         Date Rate of Home Ownership
0  1965-01-01                   62.9
1  1965-04-01                   62.9
2  1965-07-01                   62.9
3  1965-10-01                   63.4
4  1966-01-01                   63.5

In [69]:
# Retrieve dataset  : 30-year Fixed Rate Mortgage Average (Monthly)
# Source            : Freddie Mac

fred_series     = "MORTGAGE30US" 
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=m&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

mortgage_rate_30_year_monthly_df = pd.json_normalize(response["observations"])

mortgage_rate_30_year_monthly_df = \
    mortgage_rate_30_year_monthly_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "30-Year Fixed Rate Mortgage Avg."
        }
    )

mortgage_rate_30_year_monthly_df = \
    mortgage_rate_30_year_monthly_df.drop(
        columns={"realtime_start", "realtime_end"}
    )

display(mortgage_rate_30_year_monthly_df.head())

         Date 30-Year Fixed Rate Mortgage Avg.
0  1971-04-01                             7.31
1  1971-05-01                             7.43
2  1971-06-01                             7.53
3  1971-07-01                             7.60
4  1971-08-01                             7.70

In [70]:
# Retrieve dataset  : 15-year Fixed Rate Mortage Average (Monthly)
# Source            : Freddie Mac

fred_series     = "MORTGAGE15US"
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=m&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

mortgage_rate_15_year_monthly_df = pd.json_normalize(response["observations"])

mortgage_rate_15_year_monthly_df = \
    mortgage_rate_15_year_monthly_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "15-Year Fixed Rate Mortgage Avg."
        }
    )

mortgage_rate_15_year_monthly_df = \
    mortgage_rate_15_year_monthly_df.drop(
        columns={"realtime_start", "realtime_end"}
    )

display(mortgage_rate_15_year_monthly_df.head())

         Date 15-Year Fixed Rate Mortgage Avg.
0  1991-08-01                                .
1  1991-09-01                             8.67
2  1991-10-01                             8.48
3  1991-11-01                             8.33
4  1991-12-01                             8.07

In [71]:
# Retrieve dataset  : Employment-Population Ratio (Monthly)
# Source            : U.S. Bureau of Labor Statistics

fred_series     = "EMRATIO"
fred_filter_qry =  f"series/observations?series_id={fred_series}&frequency=m&api_key={fred_api_key}&file_type=json"
query_url = fred_url + fred_filter_qry

response = requests.get(query_url).json()
#print(json.dumps(response, indent=4))

employment_rate_monthly_df = pd.json_normalize(response["observations"])

employment_rate_monthly_df = \
    employment_rate_monthly_df.rename(
        columns={
              "date"    : "Date"
            , "value"   : "Employment Rate"
        }
    )

employment_rate_monthly_df = \
    employment_rate_monthly_df.drop(
        columns={"realtime_start", "realtime_end"}
    )


display(employment_rate_monthly_df.head())

         Date Employment Rate
0  1948-01-01            56.6
1  1948-02-01            56.7
2  1948-03-01            56.1
3  1948-04-01            56.7
4  1948-05-01            56.2

In [72]:
# Retrieve dataset  : US Consumer Price Index and Inflation (CPI)  (Monthly)
# Source            : U.S. Department Of Labor Bureau of Labor Statistics

data_url = 'https://datahub.io/core/cpi-us/datapackage.json'

# Code to load Data Package into storage copied from https://datahub.io/core/cpi-us#pandas
package = datapackage.Package(data_url)

# Code to load only tabular data copied from https://datahub.io/core/cpi-us#pandas
resources = package.resources
for resource in resources:
    if resource.tabular:
        cpi_inflation_monthly_df = pd.read_csv(resource.descriptor['path'])

cpi_inflation_monthly_df = \
    cpi_inflation_monthly_df.rename(
        columns={
              "Index"    : "CPI"
        }
    )

display (cpi_inflation_monthly_df)

            Date      CPI  Inflation
0     1913-01-01    9.800        NaN
1     1913-02-01    9.800       0.00
2     1913-03-01    9.800       0.00
3     1913-04-01    9.800       0.00
4     1913-05-01    9.700      -1.02
...          ...      ...        ...
1208  2013-09-01  234.149       0.12
1209  2013-10-01  233.546      -0.26
1210  2013-11-01  233.069      -0.20
1211  2013-12-01  233.049      -0.01
1212  2014-01-01  233.916       0.37

[1213 rows x 3 columns]

Merge Dataframes

In [73]:
#avg_hourly_earnings_private_employees_monthly_df
#personal_income_monthly_df
#mortgage_rate_30_year_monthly_df
#mortgage_rate_15_year_monthly_df
#employment_rate_monthly_df
#cpi_inflation_monthly_df

#rate_of_home_ownership_quarterly_df
#median_sales_price_housing_quarterly_df

#median_household_income_annually_df

# Merge monthly datasets
economic_data_df = pd.merge(
      avg_hourly_earnings_private_employees_monthly_df
    , personal_income_monthly_df
    , on    = "Date"
    , how   = "right"
)
economic_data_df = pd.merge(
      economic_data_df
    , employment_rate_monthly_df
    , on    = "Date"
    , how   = "right"
)
economic_data_df = pd.merge(
      economic_data_df
    , mortgage_rate_30_year_monthly_df
    , on    = "Date"
    , how   = "left"
)
economic_data_df = pd.merge(
      economic_data_df
    , mortgage_rate_15_year_monthly_df
    , on    = "Date"
    , how   = "left"
)
economic_data_df = pd.merge(
      economic_data_df
    , cpi_inflation_monthly_df
    , on    = "Date"
    , how   = "left"
)

# Merge quarterly datasets into full dataset
economic_data_df = pd.merge(
      economic_data_df
    , rate_of_home_ownership_quarterly_df
    , on    = "Date"
    , how   = "left"
)
economic_data_df = pd.merge(
      economic_data_df
    , median_sales_price_housing_quarterly_df
    , on    = "Date"
    , how   = "left"
)

# Merge annual datasets into full dataset
economic_data_df = pd.merge(
      economic_data_df
    , median_household_income_annually_df
    , on    = "Date"
    , how   = "left"
)

display(economic_data_df)

,Date,Average Hourly Earnings,Personal Income,Employment Rate,30-Year Fixed Rate Mortgage Avg.,15-Year Fixed Rate Mortgage Avg.,CPI,Inflation,Rate of Home Ownership,Median Sales Price of Houses,Median Household Income
0,1948-01-01,NaN,.,56.6,NaN,NaN,23.7,1.28,NaN,NaN,NaN
1,1948-02-01,NaN,.,56.7,NaN,NaN,23.5,-0.84,NaN,NaN,NaN
2,1948-03-01,NaN,.,56.1,NaN,NaN,23.4,-0.43,NaN,NaN,NaN
3,1948-04-01,NaN,.,56.7,NaN,NaN,23.8,1.71,NaN,NaN,NaN
4,1948-05-01,NaN,.,56.2,NaN,NaN,23.9,0.42,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
907,2023-08-01,33.82,23071.7,60.4,7.07,6.43,NaN,NaN,NaN,NaN,NaN
908,2023-09-01,33.91,23148.5,60.4,7.20,6.57,NaN,NaN,NaN,NaN,NaN
909,2023-10-01,34.00,23207.8,60.3,7.62,6.91,NaN,NaN,NaN,NaN,NaN
910,2023-11-01,34.12,23289.4,60.4,7.44,6.77,NaN,NaN,NaN,NaN,NaN
911,2023-12-01,NaN,NaN,60.1,6.82,6.14,NaN,NaN,NaN,NaN,NaN

In [74]:
display(economic_data_df.dtypes)
economic_data_df.fillna(0, inplace=True)
economic_data_df.replace('.', 0, inplace=True)

economic_data_df["Date"] = economic_data_df["Date"].astype(str)
economic_data_df["Date"] = \
  pd.to_datetime(economic_data_df["Date"], format="%Y-%m-%d")

economic_data_df["Average Hourly Earnings"] = \
  economic_data_df["Average Hourly Earnings"].astype("float16")

economic_data_df["Personal Income"] = \
  economic_data_df["Personal Income"].astype("float16")

economic_data_df["Employment Rate"] = \
  economic_data_df["Employment Rate"].astype("float16")

economic_data_df["30-Year Fixed Rate Mortgage Avg."] = \
  economic_data_df["30-Year Fixed Rate Mortgage Avg."].astype("float16")

economic_data_df["15-Year Fixed Rate Mortgage Avg."] = \
  economic_data_df["15-Year Fixed Rate Mortgage Avg."].astype("float16")

economic_data_df["Rate of Home Ownership"] = \
  economic_data_df["Rate of Home Ownership"].astype("float16")

economic_data_df["Median Sales Price of Houses"] = \
  economic_data_df["Median Sales Price of Houses"].astype("float16")

economic_data_df["Median Household Income"] = \
  economic_data_df["Median Household Income"].astype("float16")

display(economic_data_df.dtypes)

display(economic_data_df)

Date                                 object
Average Hourly Earnings              object
Personal Income                      object
Employment Rate                      object
30-Year Fixed Rate Mortgage Avg.     object
15-Year Fixed Rate Mortgage Avg.     object
CPI                                 float64
Inflation                           float64
Rate of Home Ownership               object
Median Sales Price of Houses         object
Median Household Income              object
dtype: object

Date                                datetime64[ns]
Average Hourly Earnings                    float16
Personal Income                            float16
Employment Rate                            float16
30-Year Fixed Rate Mortgage Avg.           float16
15-Year Fixed Rate Mortgage Avg.           float16
CPI                                        float64
Inflation                                  float64
Rate of Home Ownership                     float16
Median Sales Price of Houses               float16
Median Household Income                    float16
dtype: object

,Date,Average Hourly Earnings,Personal Income,Employment Rate,30-Year Fixed Rate Mortgage Avg.,15-Year Fixed Rate Mortgage Avg.,CPI,Inflation,Rate of Home Ownership,Median Sales Price of Houses,Median Household Income
0,1948-01-01,0.00000,0.0,56.59375,0.000000,0.000000,23.7,1.28,0.0,0.0,0.0
1,1948-02-01,0.00000,0.0,56.68750,0.000000,0.000000,23.5,-0.84,0.0,0.0,0.0
2,1948-03-01,0.00000,0.0,56.09375,0.000000,0.000000,23.4,-0.43,0.0,0.0,0.0
3,1948-04-01,0.00000,0.0,56.68750,0.000000,0.000000,23.8,1.71,0.0,0.0,0.0
4,1948-05-01,0.00000,0.0,56.18750,0.000000,0.000000,23.9,0.42,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
907,2023-08-01,33.81250,23072.0,60.40625,7.070312,6.429688,0.0,0.00,0.0,0.0,0.0
908,2023-09-01,33.90625,23152.0,60.40625,7.199219,6.570312,0.0,0.00,0.0,0.0,0.0
909,2023-10-01,34.00000,23200.0,60.31250,7.621094,6.910156,0.0,0.00,0.0,0.0,0.0
910,2023-11-01,34.12500,23296.0,60.40625,7.441406,6.769531,0.0,0.00,0.0,0.0,0.0
911,2023-12-01,0.00000,0.0,60.09375,6.820312,6.140625,0.0,0.00,0.0,0.0,0.0

Add Columns with Adjustments for Inflation

In [45]:
# Define a lambda function to calculate the adjustments for inflation
adjust_for_inflation = lambda row: 100 * (row["Average Hourly Earnings"]         / row["CPI"]) if (row["CPI"] != 0) else 0.0
economic_data_df["Average Hourly Earnings (adj)"] = economic_data_df.apply(adjust_for_inflation, axis=1)

adjust_for_inflation = lambda row: 100 * (row["Personal Income"]                 / row["CPI"]) if (row["CPI"] != 0) else 0.0
economic_data_df["Personal Income (adj)"] = economic_data_df.apply(adjust_for_inflation, axis=1)

adjust_for_inflation = lambda row: 100 * (row["Median Sales Price of Houses"]    / row["CPI"]) if (row["CPI"] != 0) else 0.0
economic_data_df["Median Sales Price of Houses (adj)"] = economic_data_df.apply(adjust_for_inflation, axis=1)

adjust_for_inflation = lambda row: 100 * (row["Median Household Income"]         / row["CPI"]) if (row["CPI"] != 0) else 0.0
economic_data_df["Median Household Income (adj)"] = economic_data_df.apply(adjust_for_inflation, axis=1)

display(economic_data_df)


#economic_data_df.plot()

#adjusted_df["Median Sales Price of Housing (adj)"]  = adjusted_df["Median Sales Price of Housing"]  / adjusted_df["CPI"] * 100
#adjusted_df["Median Household Income (adj)"]        = adjusted_df["Median Household Income"]        / adjusted_df["CPI"] * 100
#adjusted_df.head()
#
## Apply the lambda function to the DataFrame
#adjusted_df["Household Income / Sales Price (%)"] = adjusted_df.apply(adjust_for_inflation, axis=1)

KeyError: 'CPI'